<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->

<body class="smoothscroll enable-animation grain-green"   ng-app="taggApp" ng-controller="myCtrl">


  <div>
     Name: <input class="form-control" ng-model="name">
   Comments:   <input class="form-control" ng-model="newsEnter">
     Email: <input class="form-control" ng-model="email">
      <button ng-click="addNews();">Add</button><button ng-click="updateNews()">Update</button>
      <div ng-repeat="news in taggNews"><b>{{news.name}}</b><i>{{news.comment}}</i> <b><i>{{news.email}}</i></b><button class="btn-aqua" ng-click="editNews(news._id,edit);">edit</button> <button class="btn-danger" ng-click="deleteNews(news._id,delete);">delete</button></div>

  </div>

<!-- /wrapper -->
<!-- /PRELOADER -->

<script src="angular.min.js"></script>
<script type="text/javascript" src="taggCtrl.js"></script>


<!-- SWIPER SLIDER 
<script type="text/javascript" src="assets/plugins/slider.swiper/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="assets/js/view/demo.swiper_slider.js"></script> -->
</body>
</html>